
.projeler {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 90vh;
  background: #ccc;
  margin: 0;
  padding: 0;
}

.projeler li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 27%;
  border-right: 1px solid #000;
  float: left;
  box-sizing: border-box;
  transition: 0.5s;
  text-align: center;
  overflow: hidden;
}
.projeler li:nth-child(1){
  background: url(resimler/merzeroproject.png);
  background-size: cover;
  background-position: center;
}
.projeler li:nth-child(4){
  background: url(resimler/designbleteam.jpeg);
  background-size: cover;
  background-position: center;
}
.projeler li:nth-child(2){
  background: url(resimler/mbnetworkreklam.jpg);
  background-size: cover;
  background-position: center;
}
.projeler li:nth-child(3){
  background: url(resimler/merkuros2.jpg);
  background-size: cover;
  background-position: center;
}
.projeler li:nth-child(5){
  background: url(resimler/merkuros.jpg);
  background-size: cover;
  background-position: center;
}
.projeler:hover li {
  height: 10%;
}

.projeler li:hover {
  height: 70%;
}

.projeler li .konu {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0,.8);
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
}
.projeler li:hover .konu {
  bottom: 0;
  transition: 0.2s;
  transition-delay: 0.5s;
  opacity: 1;
}
.projeler li .konubaslik {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0,.8);
  box-sizing: border-box;
  color: #fff;
  opacity: 0;
}
.projeler li:hover .konubaslik {
  display: none;
  transition: 0.2s;
  transition-delay: 0.5s;
  opacity: 1;
}
